#btn {
    position: absolute;
    right: 10px;
    bottom: 0px;
    color: white;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.xc
{
    position: relative;
    width: 50%;
    height: 400px;
    background-color: aqua;
    margin: 100px auto;
}